@model LoDeLucas.Models.Compra

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de que deseas borrar esta compra?</h3>
<div>
    <h4>Compra</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Producto
        </dt>
        <dd class="col-sm-10">
            @(Model.Producto.Nombre)
        </dd>
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @(Model.Cliente.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            Envío a domicilio
        </dt>
        <dd class = "col-sm-10">
            @(Model.EnvioADomicilio ? "Sí" : "No")
        </dd>
    </dl>
    
    <form asp-action="Delete" class="centeredContainer">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <a asp-action="Index" class="centeredText">Volver a la lista</a>
    </form>
</div>
