@model LoDeLucas.Taza

@{
    ViewData["Title"] = "Details";
    var clientito = ViewBag.Cliente;
}

<h1>Detalles</h1>

<div>
    <h4>Taza</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Material)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Material)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
    </dl>
</div>
<div>
    <a href="@(clientito == null ? "/Cliente" : "/Compras/Create")"><b>Confirmar</b></a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a href="/Producto">Volver a la lista</a>
</div>
