@model IEnumerable<LoDeLucas.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de productos</h1>

<p>
   @*  <a asp-action="Create">Create New</a> *@
    <a href="./Taza/Create">Crear nueva Taza</a>
    <a href="./Cafe/Create">Crear nuevo Cafe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Producto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Tipo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GetType().Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            @if (item is Cafe cafeItem)
            {
                <td>
                    @Html.DisplayFor(modelItem => cafeItem.TipoCafe)
                </td>
            }
            else if(item is Taza tazaItem)
            {
                <td>
                    @Html.DisplayFor(modelItem => tazaItem.Material)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>

                    
                    <a href="./@(item.GetType().Name)/Details/@(item.Id)"><b>Detalle</b></a> |
                <a href="./@(item.GetType().Name)/Edit/@(item.Id)">Editar</a> 
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> *@ |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
